img {
  width: 50%;
  height: 50%;

}

.btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  // padding: 10px 15px;
  border-radius: 5px;
  border: none;
  padding: 19px 71px;
  background:  #4682b4;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}